NEXT_PUBLIC_APP_URL=http://localhost:3000
SUPABASE_URL=https://yatohwepuirqdljxypmh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlhdG9od2VwdWlycWRsanh5cG1oIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzMwOTUyOSwiZXhwIjoyMDkyODg1NTI5fQ.EVAlMQciEchv8y-4s30vwrIduGZecsD8uIhoxD3Ycrw
GOOGLE_PLACES_API_KEY= AIzaSyA-gW01xtXQBa-P-yOzkofXIVVibWbG1ws
